@import "tailwindcss";

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --color-background: #e5e7eb;
  --color-foreground: #0f172a;
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
